#network {
  h3 {
    color: #2199e8;
  }

  .header {
    text-align: center;
    background: #074E68;
    background-size: cover;
    padding: 40px 10px;
    .headline {
      color: #ffe;
    }
  }

  small {
    white-space: nowrap;
  }

  .row {
    margin-top: 20px;
  }

  p span {
    color: #999999;
  }
}
